.container {
  background-color: #EEF0F1;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  width: 700px;
  min-width: 300px;
  max-height: 800px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  color: #08090a;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
  overflow: auto;
}

.buttonContainer {
  width: 700px;
}
